# Database Configuration
# For SQLite:
# DATABASE_URL=sqlite:///habit_tracker.db

# For PostgreSQL:
# DATABASE_URL=postgresql://username:password@localhost:5432/habitflow
DATABASE_URL=sqlite:///habit_tracker.db

# Email Configuration (Gmail SMTP)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-google-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com
